@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Libre+Baskerville&family=Nunito:wght@300&display=swap');

:root{
    --heading-font: Agbalumo;
    --nav-font: "Libre Baskerville", Helvatica, sans-serif;

    --primary-color: #284B63   ;
    --secondary-color: #D9D9D9 ;
    --accent1-color: #3C6E71;
    --accent2-color: #353535;
}
body{
    background-color: var(--primary-color);
    color: var(--secondary-color)
}
h1{
    font-family: var(--heading-font);
    font-size: 2em;
}
nav{
    margin-top: 5%;
    width: 30%;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    display: grid;
    position:relative;
    left: 35%;
    font-family: var(--nav-font);
    background-color: var(--secondary-color);
}
a:link{
    color: var(--accent2-color);
    text-decoration: none;
}
a:hover{
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}
footer{
    display: block;
    text-align: right;
    padding: 5%;
}

@media (max-width: 800px){
    nav{
        width: 50%;
        left: 30%;
    }    
    footer{
        text-align: center;
    }
}