
body {
    text-align: center; 
}

nav {
  background-color: steelblue;
  padding: 05px;
}

a {
    font-size: 1em;
    color: white;
    margin: 40px;    
}
  
h1 {
  color: steelblue;
  text-align: center;
}
img {
  width: 70%;
  display: block;
  margin: 0 auto;
}
p {
  width: 80%;
  padding: 10px;
}
nav, footer {
  background-color: rgb(1, 64, 115);
  color: white;
  padding: 10px;
}  

footer p{
  font-size: 20px;
  margin: 20px auto;
  
}
main p{
  width: 80%;
  margin: 5px auto;
  text-align: left;
}
#active {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

#byui {
  background-color: #000541ee;
  color: rgb(255, 255, 255);
}
footer p:hover {
  background-color: rgb(1, 64, 115);
  color: rgb(238, 255, 0);
}
